.header_box{
    display: grid;
    align-content: center;
    width: unset;
    height: 100vh;
}

.header_box p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    word-spacing: 18px;
    letter-spacing: 0;
}



.button_box{
    width: 100%;
    max-width: 700px;
    position: fixed;
    top: 10px;
    z-index: 7;
    justify-content: space-between;
}

.button{
    float: right;
    display: flex;
    background-color: black;
}

.button p{
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 7.5px;
    font-weight: 400;
    color: white;
}

.button span{
    color: white;
}

.menu p{
    margin-left: 10px;
}

.menu{
    cursor: pointer;
}



.logo_box{
    padding-bottom: 50px;
}

#logo{
    width: 300px;
}

.link_box{
    display: flex;
}

.link{
    margin: auto;
    background-size: 23px;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    width: 41px;
    height: 41px;
    border-radius: 100px;
}

.scroll_down{
    position: absolute;
    bottom: -5px;
    opacity: 1;
    transition: 0.5s;
    display: grid;
    align-items: center;
}

.scroll_down p{
    font-size: 10px;
    font-family: "Libre Baskerville", sans-serif;
    font-style: italic;
    transform: translateY(15px);
}

.arrow_down{
    transform: rotate(90deg) scaleY(2) scaleX(.75);
    font-size: 50px !important;
}

.faded{
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
}



.big_menu{
    margin: 30px 0;
}

.big_menu h1{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px 0;
}

.big_menu_box{
    padding: 5px 7% 35px 7%;
    border: 2px solid black;
    border-top: 0;
}

.big_menu_opt{
    display: flex;
    border-bottom: 2px solid black;
    margin-top: 30px;
    padding-bottom: 4px;
}

.big_menu_opt span, h2{
    font-size: 24px;
}

.big_menu_opt span{
    margin-bottom: 2px;
}

.big_menu_opt h2{
    margin-top: auto;
    font-weight: 400;
}

.big_menu_sub_opt{
    font-weight: 700;
    letter-spacing: 3px;
    padding: 2px;
    margin-top: 12px;
}



.location, .about {
    margin-top: 50px;
    margin-bottom: 100px;
}

.location h1, .about h1{
    font-size: 24px;
    font-weight: 500;
}