@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: content-box;
    color: black;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(197, 239, 207);
}

header, main, footer{
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.header_box{
    margin: auto;
    width: 100%;
}

.main_box, .footer_box{
    margin: 0 4%;
    width: 100%;
}



footer{
    background-color: black;
}

