main{
    padding-top: 15vh;
    background-color: white;
}

#logo{
    width: 300px;
}

.outer_box{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.outer_box p{
    letter-spacing: 3px;
    color: black;
}

.title_box{
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.title{
    font-size: 24px;
}

.hotcold{
    font-size: 10px;
}

.products{
    display: flex;
}

.box{
    width: 49%;
    background-color: white;
    max-width: 700px;
}

.divider{
    width: 2%;
}

.img_box{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.desc_box{
    position: absolute;
    text-align: start;
    width: 75%;
    bottom: 101%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.3s ease-in 0s;
}

.desc_box p{
    background-color: white;
    letter-spacing: 0;
    font-size: 10px;
    font-weight: 400;
    font-family: "Libre Baskerville", sans-serif;
    font-style: italic;
    text-align: start;
    color: black;
}

.product_img{
    width: 100%;
    border-radius: 45%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    transition: 0.2s ease 0.4s;
}

.imgtoggle{
    opacity: 0.5;
    transition: 0.2s ease 0s !important;
}

.desctoggle{
    bottom: 50% !important;
    transform: translate(-50%, 50%) !important;
    opacity: 1 !important;
    transition: 0.3s ease-out 0.3s !important;
}

p{
    font-size: 12px;
    text-align: center;
}