@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Kulim Park", sans-serif;
    z-index: 3;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.bg{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(img/WallpaperBILS.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.hamburg{
    padding: 30px 10px 15px 10px;
    width: auto;
    position: absolute;
    right: 5%;
    background-color: black;
    transition: 0.3s ease-in;
    cursor: pointer;
    display: block;
    align-items: center;
}

.hamburg--hidden{
    transform: translateY(-69px);
    transition: 0.3s ease-out 0.5s;
}

.hamburg div{
    width: 30px;
    height: 3px;
    background-color: white;
    transition: 0.4s;
}

.line2, .line3{
    margin-top: 7px;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
}

.menu li {
    margin: 10px;
}



main{
    padding-top: 15vh;
    height: 2800px;
}

#logo{
    width: 300px;
}

.outer_box{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.box{
    padding: 8vmin;
    margin: 20px 8vw;
    width: 100%;
    background-color: black;
}

#first{
    width: auto;
    padding: 0;
    background-color: transparent;
}

#first p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    word-spacing: 18px;
    letter-spacing: 0;
    color: black;
}

#button_box{
    display: flex;
}

.link{
    margin: auto;
    background-size: 23px;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    width: 41px;
    height: 41px;
    border-radius: 100px;
}

.box h1, h2, p{
    letter-spacing: 6px;
    font-weight: 700;
    color: white;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}

hr{
    height: 2px;
    margin: 10px 0;
    background-color: white;
}

p{

    font-size: 16px;
}



@media (min-width:600px){
    .hamburg{
        padding: 40px 15px 25px 15px;
    }

    .hamburg--hidden{
        transform: translateY(-104px);
    }
    
    .hamburg div{
        width: 50px;
        height: 4px;
        background-color: white;
        transition: 0.4s;
    }
    
    .line2, .line3{
        margin-top: 13px;
    }
}