

@media (min-width:600px){
    .testbox{
        width: 250px;
    }
}



.testtitle{
    display: block;
    margin-bottom: 10px;
}

.testbox1{
    padding: 7px;
    border: 3px solid black;
    margin-top: 10px;
    display: flex;
}

.testtext_left{
    width: 80%;
    float: left;
}

.testtext_rght{
    width: 20%;
    text-align: right;
}

.testdesc{
    letter-spacing: 0;
    font-weight: 400;
    font-family: "Libre Baskerville", sans-serif;
    font-style: italic;
    color: #858280;
}

.testpop{
    z-index: 9;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    display: none;
}

.testpopback{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.338);
}

.testpopbox{
    position: absolute;
    margin: auto auto;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.testpoptoggle{
    display: block;
}

.stop_scroll{
    overflow: hidden;
}